.Header {
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			h1 {
				display: inline;
				background: var(
					--2,
					linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%)
				);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}
